/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.containerB{
  width: 100%;
}
.container{
  align-items: center;
  text-align: center;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}
.wrapper {
  display: flex;
}

.content {
  flex: 1;
  padding: 15px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 61px;
}
.left{
  padding-top: 3rem;
  float: left;
  width: 70%;
  height: 86vh; /* 100% of the viewport height */
  background-color: #ffcccc; /* Left div background color */
}
.right{
  align-items: center;
  position: relative;
  float: right;
  padding: 5px;
  width: 30%;
  height: 86vh; /* 100% of the viewport height */
  background-color: #ccffcc; /* Right div background color */
}
.inpt{
  position: absolute;
  bottom: 20px;
  input{
    width: 25rem;
    height: 5rem;
    border-radius: 5px;
    text-align: center;
  }
  button{
    height: 5rem;
    width: 6rem;
    background-color: lightgray;
    border-radius: 5px;
  }
}
.outpt{
    width: 31rem;
    height: 37rem;
    padding: 15px;
    font-family: monospace;
    overflow: auto;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    .gif{
      width: 3rem;
      height: 3rem;
    }
  }
