<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewVoyager</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/css/icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewVoyager.styles.css" asp-append-version="true" />
    @RenderSection("scripts", required: false)
</head>
<body class="Body">
    <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NewVoyager</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Plan" asp-action="Index">Plans</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <partial name="_LoginPartial" />
    </nav>
</header>

    <div class="containerB">
        <main role="main" class="pb-3">
             @if (User.Identity.IsAuthenticated)
            {
                <div class="left">
                    @RenderBody()
                </div>
                <div class="right">
                    <div class="outpt" >
                        <div id="responseDiv">
                            <img class="gif" id="loadingGif" src="~/css/loading.gif" style="display: none;" />
                        </div>
                    </div>
                    <div class="inpt">
                            <input type="text" id="inputText" placeholder="Send a message ...">
                            <button id="submitButton" >Submit</button>
                    </div>
                </div>
            }else{
                @RenderBody()
            }
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - NewVoyager 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#submitButton").click(function(){
                var query = $("#inputText").val();
                $("#loadingGif").show();
                $.ajax({
                    url: '/api/OpenAI/UseChatGPT',
                    type: 'GET',
                    data: { query: query },
                    success: function(data) {
                        $("#loadingGif").hide();
                        console.log(data)
                        var textContent = data.value.choices[0].message.textContent;
                        $("#responseDiv").text(textContent);
                    },
                    error: function(error) {
                        $("#loadingGif").hide();
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>
