@model NewVoyager.Models.Plans

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" type="text/css" href="~/css/delete.css">

<div class="head">Are you sure you want to delete this?</div>
<hr />
<div class="delete-container">
    <dl class="row">
        
        <dt class = "col-sm-12 element" style="text-align: center;">
            Plan
        </dt>
        <dt class = "col-sm-6 element" style="text-align: right;">
            Plan name:
        </dt>
        <dd class = "col-sm-6 element" style="text-align: left;">
            @Html.DisplayFor(model => model.PlanName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlanID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
    </form>
</div>
