@model NewVoyager.Models.Plans

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" type="text/css" href="~/css/create.css">


<div class="head">
    Edit plan
</div>
<hr />
<div class="row">
    <div class="col-md-4 create-form">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlanID" />
            <input type="hidden" asp-for="AppUserID" />
            <div class="form-group">
                <label asp-for="PlanName" class="control-label">Plan name</label>
                <input asp-for="PlanName" class="form-control" />
                <span asp-validation-for="PlanName" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group dugme col-6" style="text-align: right;">
                    <input type="submit" value="Save" class="btn " />
                </div>
                <div class="dugme col-6">
                    <a href="javascript:history.back()" class="btn ">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

