@{
    ViewData["Title"] = "Home Page";
}
<div class="screen">
  <div class="left">
    <div class="text-center ">
      <h1 class="display-4">Welcome To NewVoyager</h1>
      <div class="card">
        <h2 class="card-title">Title</h2>
        <div class="card-body">
          <div class="todo-item">
            <input type="checkbox" id="item1">
            <label for="item1">Item 1</label>
          </div>
          <div class="todo-item">
            <input type="checkbox" id="item2">
            <label for="item2">Item 2</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>