@{
    ViewData["Title"] = "Home Page";
};
<div class="screen" style="margin: auto; margin-top:5rem;text-align:center;">
    <h1 >Welcome to NewVoyager</h1>
    <h5 style="width: 60%; margin:auto; margin-top:2rem;" >Embark on unforgettable adventures with NewVoyager, your go-to web application for seamless trip planning. Whether you're a solo explorer or planning a getaway with friends and family, NewVoyager simplifies your travel experience from start to finish.

</div>