/* _content/NewVoyager/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.styl[b-wx7riv4yd6]{
  color: #F9EBDE;
}
.containerB[b-wx7riv4yd6]{
  width: 100%;
}
.container[b-wx7riv4yd6]{
  align-items: center;
  text-align: center;
}

a.navbar-brand[b-wx7riv4yd6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-wx7riv4yd6] {
  color: #F9EBDE;
}
.wrapper[b-wx7riv4yd6] {
  display: flex;
}

.content[b-wx7riv4yd6] {
  flex: 1;
  padding: 15px;
}

.btn-primary[b-wx7riv4yd6] {
  color: #F9EBDE;
  background-color: #815854;
  border-color: #F9EBDE;
}

.nav-pills .nav-link.active[b-wx7riv4yd6], .nav-pills .show > .nav-link[b-wx7riv4yd6] {
  color: #F9EBDE;
  background-color: #815854;
  border-color: #F9EBDE;
}

.border-top[b-wx7riv4yd6] {
  border-top: 1px solid #F9EBDE
}
.border-bottom[b-wx7riv4yd6] {
  border-bottom: 1px solid #F9EBDE;
}

.box-shadow[b-wx7riv4yd6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-wx7riv4yd6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-wx7riv4yd6] {
  background-color: #815854;
  color: #F9EBDE;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 61px;
}
.left[b-wx7riv4yd6]{
  float: left;
  width: 70%;
  height: 84vh; /* 100% of the viewport height */
  background-color: #F9EBDE; /* Left div background color */
}
.right[b-wx7riv4yd6]{
  align-items: center;
  position: relative;
  float: right;
  padding: 5px;
  width: 30%;
  height: 84vh; /* 100% of the viewport height */
  background-color: #815854; /* Right div background color */
}
.inpt[b-wx7riv4yd6]{
  position: absolute;
  bottom: 10px;
  input{
    width: 25rem;
    height: 5rem;
    border: 3px solid #F9EBDE;
    border-radius: 5px;
    text-align: center;
  }
  input[b-wx7riv4yd6], select[b-wx7riv4yd6],textarea[b-wx7riv4yd6]{
    color:#815854 ;
    background-color: #F9EBDE;
    border: none;
  }
  button[b-wx7riv4yd6]{
    height: 5rem;
    width: 6rem;
    color: #815854;
    border: 3px solid #815854;
    background-color: #F9EBDE;
    border-radius: 5px;
  }
}
.outpt[b-wx7riv4yd6]{
    width: 31rem;
    height: 37rem;
    padding: 15px;
    font-family: monospace;
    overflow: auto;
    background-color: #F9EBDE;
    border: 1px solid #815854;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    .gif{
      width: 3rem;
      height: 3rem;
    }
  }
