@model NewVoyager.Models.Events

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" href="~/css/delete.css">

<div class="head">Event details:</div>

    <hr />
<div class="delete-container">
    <dl class="row">
        <dt class = "col-sm-6 element" style="text-align: right;">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-6 element" style="text-align: left;">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        
        <dt class = "col-sm-6 element" style="text-align: right;">
            Date from:
        </dt>
        <dd class = "col-sm-6 element" style="text-align: left;">
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt class = "col-sm-6 element" style="text-align: right;">
            Date to:
        </dt>
        <dd class = "col-sm-6 element" style="text-align: left;">
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt>
            <a asp-action="Edit" asp-route-id="@Model?.EventID" class="btn btn-secondary">Edit</a> |
            <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
        </dt>
    </dl>
</div>
<div>
</div>
